/* .color-edit-swatch {
  width: 100%;
  height: 48px;
  color: var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 4px black;
} */

.swatch {
  /* aspect-ratio: 1/1;
  width: 25%;
  padding-bottom: 25%; */
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 32px;
}
.swatch:hover {
  width: 44px;
  margin: -1px;
}

/* #active-swatch {
  width: 30%;
  margin: -2.5%;
  z-index: 10;
  filter: drop-shadow(0 0 1.4mm var(--shadow));
} */

/* #palette{
  margin-bottom: 12px;
} */

/* #editor-labels {
  display: flex;
  justify-content: space-around;
} */