.brush {
  height: 36px;
  width: 36px;
  font-size: 15px;
  margin: 2px;
  border: none;
}
.brush:hover {
  border: none;
  width: 44px;
  height: 44px;
  margin: -2px;
}
.brush#addcolor {
  border: solid 1px var(--base);
}

#active-brush {
  border: 1px solid var(--text);
  border-radius: 2px;
  width: 48px;
  height: 48px;
  margin: -4px;
  filter: drop-shadow(0 0 1.4mm var(--shadow));
}