.layer-preview{
  display: flex;
  margin-top: .2em;
  align-items: center;
  justify-content: space-between;
  padding-right: .4em;
  border-radius: 2px;
}
.layer-preview:hover {
  background-color: var(--button-active);
}
.layer-thumbnail {
  border: solid 1px var(--border);
}