.layer-preview{
  flex-grow: 1;
  display: flex;
  margin-top: .2em;
  align-items: center;
  justify-content: space-between;
  padding: .4em;
  border-radius: 4px;
  background-color: var(--dim);
}
.layer-preview:hover {
  background-color: var(--bg);
}
.layer-name {
  margin-right: 12px
}

.layer-thumbnail {
  border: solid 1px var(--alt);
}

.active-layer {
  flex-grow: 1;
  display: flex;
  margin-top: .2em;
  align-items: center;
  justify-content: space-between;
  padding: .4em;
  border-radius: 4px;
  background-color: var(--bg);
}

.tool-sample#layer-sample {
  padding: 0;
  flex-direction: column-reverse;
  background-color: transparent;
}