.color-preview {
  border-radius: 4px;
  overflow: hidden;
}

.color-edit-swatch {
  width: 100%;
  height: 48px;
  color: text;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swatch {
  height: 52px;
  width: 52px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 32px;
}
.swatch:hover {
  border: none;
  width: 60px;
  height: 60px;
  margin: -4px;
}

#active-swatch {
  border: 1px solid var(--alt);
  border-radius: 2px;
  width: 64px;
  height: 64px;
  margin: -6px;
  z-index: 10;
}

#editor-labels {
  display: flex;
  justify-content: space-around;
}

