.color-edit-swatch {
  width: 50%;
  height: 200px;
  margin: 12px 0;
}

.color-preview {
  display: flex;
}

.swatch {
  height: 52px;
  width: 52px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 32px;
}
.swatch:hover {
  border: none;
  width: 60px;
  height: 60px;
  margin: -4px;
}

#active-swatch {
  border: 1px solid var(--alt);
  border-radius: 2px;
  width: 64px;
  height: 64px;
  margin: -6px;
  z-index: 10;
}

#editor-labels {
  display: flex;
  justify-content: space-around;
}

