canvas {
  padding: 0;
  box-sizing: border-box;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.workspace {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tools {
  position: absolute;
  left: 10px;
  top: 42px;
  text-align: center;
  width: 256px;
}

.toolbox{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--base);
  border: solid 1px var(--border);
  border-radius: 4px;
  padding: 12px;
  margin: 8px;
  filter: drop-shadow(0 0 1.4mm var(--shadow));
  /* max-width: 100%; */
}

.tool-editor {
  width: 100%
}

.layers {
  box-sizing: border-box;
  position: relative;
  background-color: var(--base);
  border: solid 1px var(--border);
  filter: drop-shadow(0 0 1.4mm var(--shadow));
}

.layers > * {
  position: absolute;
}