canvas {
  border: solid 1px black
}

.workspace {
  display: flex;
}

.layers > * {
  position: absolute;
}

.layer-controls {
  display: flex;
  flex-direction: column-reverse;
}

.palette {
  display: flex;
  margin: 8px 0px;
}

.swatch {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  border: none;
}

.swatch:hover {
  border: none;
  width: 48px;
  height: 48px;
  margin: -4px;
}
