canvas {
  padding: 0;
  box-sizing: border-box;
}

.workspace {
  /* background-color: rgba(130, 130, 130, .2); */
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--grid-light);
  background-image: linear-gradient(45deg, var(--grid-dark) 25%, transparent 25%, transparent 75%, var(--grid-dark) 75%, var(--grid-dark)),
  linear-gradient(45deg, var(--grid-dark) 25%, transparent 25%, transparent 75%, var(--grid-dark) 75%, var(--grid-dark));
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tools {
  background-color: var(--base);
  padding: 16px;
  position: absolute;
  left: 42px;
  top: 42px;
  border: 1px solid var(--base);
  border-radius: 4px;
  text-align: center;
  filter: drop-shadow(0 1mm 1.2mm var(--shadow));
}

.layers {
  box-sizing: border-box;
  position: relative;
  background-color: var(--base);
  border: solid 1px var(--base);
  filter: drop-shadow(0 1mm 1.2mm var(--shadow));
}

.layers > * {
  position: absolute;
}

.layer-controls {
  display: flex;
  flex-direction: column-reverse;
}

.palette {
  display: flex;
  margin: 8px 0px;
}

.swatch {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  border: none;
}

.swatch:hover {
  border: none;
  width: 48px;
  height: 48px;
  margin: -4px;
}

.swatch#addcolor {
  border: solid 1px white;
}