.layer-preview, .active-layer{
  flex-grow: 1;
  display: flex;
  margin: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4px;
  cursor: pointer;
  background-color: var(--base);
}
.layer-preview:hover {
  background-color: var(--alt);
}
.layer-preview:active {
  cursor: grabbing
}
.active-layer {
  background-color: var(--highlight);
  cursor: pointer;
}
.active-layer:active {
  cursor: grabbing
}

.layer-thumbnail {
  border: solid 1px var(--main);
}

.tool-sample#layer-sample {
  flex-direction: column-reverse;
}