/* #brushes {
  margin-bottom: 12px;
}
.brush {
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.brush:hover {

}
.brush#addBrush {
  border: solid 1px var(--dark);
}
.brush-thumb{
  box-sizing: border-box;
  border: solid 2px var(--base);
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brush-thumb:hover {
  border: solid 2px var(--dark);
  z-index: 11;
}
#active-brush > * {
  z-index: 10;
  border: solid 2px var(--dark);
  filter: drop-shadow(0 0 1.4mm var(--shadow));
} */