#brushes {
  margin-bottom: 16px;
}
.brush {
  aspect-ratio: 1/1;
  width: 23%;
  padding-bottom: 24%;
  margin: 1%;
  padding: 0;
  border: none;
  font-size: 24px;
}
.brush:hover {
  width: 27%;
  margin: -1%;
}
.brush#addBrush {
  border: solid 1px var(--base);
}

#active-brush {
  width: 29%;
  margin: -2%;
  z-index: 10;
  filter: drop-shadow(0 0 1.4mm var(--shadow));
}