canvas {
  padding: 0;
  box-sizing: border-box;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.tools {
  max-height: 100%;
  overflow: auto;
  position: absolute;
  left: 12px;
  top: 24px;
  text-align: center;
  width: 256px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  filter: drop-shadow(0 0 1.4mm var(--shadow));
}
/* .tools-right {
  left: auto;
  right: 12px;
}
.toolbox{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--transluscent);
  margin: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
} */
.toolbar, .toolbar-clear, .menu-toggle-active {
  box-sizing: border-box;
  background-color: var(--alt);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.toolbar-clear {
  background-color: transparent;
  padding: 4px 16px 8px;
}
.toolbar-clear:hover {
  background-color: var(--alt);
}
/* .tool-sample {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
} */

.layers {
  position: relative;
  background-color: var(--transluscent);
  filter: drop-shadow(0 0 1.4mm var(--shadow));
}
.layers > * {
  position: absolute;
  margin: auto
}

.tool-toggles {
  display: flex;
  padding: 4px 8px;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.tool-button {
  display: flex;
  align-items: center;
  justify-content: space-between;;
  cursor: pointer;
}
.tool-details {
  margin: 4px 0px;
}
.shortcut {
  font-size: 12px;
}