:root {
	--dark: rgb(0, 0, 0);
	--base: rgba(220, 220, 220);
	--alt: rgba(245, 245, 245);	
	--highlight: rgba(255, 255, 255);
	--accent: rgb(70, 70, 86);
	--active: rgb(196, 217, 255);
	--main: rgba(120, 120, 120);
	--emphasis: rgba(80, 80, 80);
	--shadow: rgba(0, 0, 0, 0.4);
	--transluscent: rgba(245, 245, 245, 0.65);
	font-family: Courier, monospace;
	font-size: 20px;
	font-weight: 500;
	color: var(--main);
	background-color: var(--base);
	background-image: 
		linear-gradient(45deg,var(--highlight) 25%, transparent 25%, transparent 75%, var(--highlight) 75%, var(--highlight)),
		linear-gradient(45deg, var(--highlight) 25%, transparent 25%, transparent 75%, var(--highlight) 75%, var(--highlight));
	background-size: 40px 40px;
	background-position: 0 0, 20px 20px;
}

body {
	margin: 0;
	display: flex;
	touch-action: none;
	overflow: hidden;
}
h1 {
	font-size: 2em;
	line-height: 1em;
	margin: 0;
	color: var(--dark);
	z-index: 10;
}
h4 {
	margin: -0.2em 0.1em 0.4em;
	color: var(--emphasis)
}
p {
	color: var(--main);
}

button {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: var(--main);
	border: none;
	cursor: pointer;
	margin: 0.1em 0.4em;
	padding: 0.1em 0.4em;
}
button:hover {
	z-index: 20;
	background-color: var(--highlight);
}

input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	margin: 4px 0px;
	background: var(--main);
	border: none;
	border-radius: 0;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: var(--dark);
	border: none;
	border-radius: 12px;
}

input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: var(--dark);
	border: none;
	border-radius: 12px;
}
.sliders {
	margin: 8px 0px;
	width: 100%;
}

#welcome {
	position: absolute;
	background-color: var(--base);
	border-radius: 4px;
	padding: 24px;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	z-index: 100;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(0 0 1.4mm var(--shadow));
}
#welcome-settings{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
}

#welcome-settings > label {
	display: flex;
	justify-content: space-between;
	margin: 4px 12px;
}

.ratio {
	flex-basis: 300px;
	width: 300px;
	height: 300px;
	background-color: var(--base);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 24px auto;
	border: solid 1px var(--alt)
}

.icon, .icon-active, .pin, .unpin {
	display: flex;
	align-items: center;
	background-color: var(--accent);
	border-radius: 4px;
	fill: var(--active);
	stroke: var(--active);
	width: 18px;
	height: 18px;
	padding: 5px;
	margin: 2px 4px;
}
.icon:hover {
	background-color: var(--active);
	fill: var(--accent);
	stroke: var(--accent);
}
.icon-active {
	background-color: var(--active);
	fill: var(--accent);
	stroke: var(--accent);
}
.pin, .unpin {
	background-color: var(--active);
	fill: var(--accent);
	stroke: var(--accent);
}
.unpin {
	background-color: transparent;
}
.named-icon {
	border-radius: 4px;
	background-color: var(--accent);
	color: var(--active);
}
.named-icon-active {
	border-radius: 4px;
	background-color: var(--active);
	color: var(--accent);
}
.named-icon-active:hover {
	border-radius: 4px;
	background-color: var(--active);
	color: var(--accent);
}

.header {
	box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header-icon {
	width: 36px;
	height: 36px
}